# Linux
.vimsession
.gdb_history
tags
cscope*

# Windows
*.dll
*.exe
*.lib

# Codeblocks
*.layout
*.depend

# MSVC++
.vs/
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.pdb
*.ipdb
*.ilk
*.iobj



obj/

bin/debug
bin/dev
bin/release
