# Linux
*.a
*.make
Makefile
.gdb_history

# Windows
*.dll
*.exe
*.lib

# Vim
.vimsession
tags
cscope*

# Codeblocks
*.layout
*.depend

# MSVC++
.vs/
*.sln
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.pdb
*.ipdb
*.ilk
*.iobj


# Build results
obj/


# App
bin/*_debug
bin/*_dev
bin/*_release
bin/Assets/Scenes
*.dat
*.ini
