# Linux
*.a
*.make
Makefile
.gdb_history

# Windows
*.dll
*.exe
*.lib

# Vim
.vimsession
tags
cscope*

# Codeblocks
*.layout
*.depend

# MSVC++
.vs/
*.vcxproj.filters
*.vcxproj.user
*.vcxproj
*.pdb
*.ipdb
*.ilk
*.iobj


# Build results
obj/

bin/debug
bin/dev
bin/release
